---
import Layout from "../layouts/Layout.astro";
---

<Layout title="{{projectName}}">
  <h1>Welcome to {{projectName}}</h1>
  <p>Visit <a href="https://docs.astro.build">docs.astro.build</a> to get started.</p>
</Layout>
